html,
body,
body {
  background: #e4e5ea;
  background-color: #e4e5ea;
}


.header {
  background-color: #ff690f;
  background: #ff690f;

  .columns {
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px !important;
    padding-top: 20px;

    .logo-white {
      width: 128px;
    }

    .user-icon {
      width: 32px;
    }
  }
}

.sub-header {
  background-color: #D65600;
  background: #D65600;

  .columns {
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px !important;
    padding-top: 20px;

    h1 {
      color: white;
    }
  }
}

.grogu-middle {
  vertical-align: middle;
}

.footer {
  background: black;
  color: white;

  .footer-container {
    background-color: black;
    background: black;
  }


  a {
    color: red;
  }
}