<container>
    <row>
        <columns>
            <row>
                <columns large="1">
                    logo
                </columns>
                <columns large="1">
                    logo
                </columns>
            </row>

        </columns>

        <columns>
            <row>
                <columns large="1">
                    apple
                </columns>
                <columns large="1">
                    google
                </columns>
            </row>
        </columns>
        <columns large="1">
            logo
        </columns>
        <columns large="1">
            logo
        </columns>
    </row>
</container>